:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --second-color: #757575;
  --white-color: #ffffff;
}
body {
  font-family: var(--main-font);
  color: #212121;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
  padding: 0px;
}
ul, a {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
nav {
  color: #757575;
  text-decoration: none underline;
}
.conteiner {
  display: flex;
  width: 1200px;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
  align-items: baseline;
}
.navi {
  display: flex;
  gap: 93px;
}
header {
  width: 1600px;
  margin-right: 0px;
  height: 80px;
  padding-top: 0px;
  border-bottom: 1px solid #ECECEC;
}
.navi-list {
  display: flex;
  align-items: center;
  gap: 46px;
}

.navi-list-item {
  font-style: normal;
  width: 100%;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0,02em;
  line-height: 16px;
}
.navi-link,
.navi-link-active-link {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  padding-top: 0px;
}
.navi-link-active-link::after {
  position: absolute;
  content: '';
  display: block;
  top: 45px;
  width: 57px;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-link:hover,
.navi-link:focus,
.navi-link-active-link:hover,
.navi-link-active-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--main-color);
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-link:hover::after {
  position: absolute;
  content: '';
  display: block;
  top: 45px;
  width: 57px;
  height: 5px;
  background-color: #2196f3;
  border-radius: 4px;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  }
link:hover,
link:focus {
  background: black;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.section1 {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1600px;
  min-height: 600px;
  padding-top: 80px;
  padding-left: 0px;
}
.tittle {
  width: 696px;
  font-style: normal;
  font-weight: 900px;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 280px;
  padding-left: 452px;
  padding-right: 230px;
}
.button-index-div {
  padding-top: 30px;
  padding-left: 700px;
  padding-right: 700px;
  padding-bottom: 200px;
}
.button-index {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  padding: 10px 41px;
}
.button-index-text {
  color: white;
}
.site-headind {
  width: 1600px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
}
.image-list {
  width: 1600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.image-list-item {
position: relative;
}
.image-list-item::before,::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.image-text {
  position: absolute;
  bottom: 0px;
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: bold;
  line-height: 1rem;
  letter-spacing: 0.03rem;
}
.addres {
  color: #fff;
  margin-left: auto;
  margin-top: 0px;
}
.adress {
  display: flex;
  padding-top: 0px;
  font-weight: bold;
}
.mail-link,
.tel-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}
.tel-link {
  padding-bottom: 50px;
}
.address,
.mail {
  margin-right: 50px;
}
.button-portfolio {
  cursor: pointer;
  font-family: Roboto;
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 0.2;
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: #212121;
  z-index: 99;
  transition: 250ms;
}
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #212121;
  cursor: pointer;
  color: #fff;
  background-color: #fff;
  display: flex;
  float: right;
}
.modal-window {
  position: absolute;
  height: 80vh;
  width: 99vw;
  max-width: 528px;
  max-height: 580px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.lorem-list {
  width: 1600px;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  gap: 30px;
}
.lorem-list-item {
font-style: normal;
width: 270px;
}
.lorem-list-item::before,::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.lorem-list-item:not(:last-child) {
  padding-right: 30px;
}
.lorem-list-item-1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;
}
.lorem-list-item-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 50px;
}
.section3 {
  width: 1600px;
  background-color: #f5f4fa;
  padding-right: 90px;
}
.person-list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.person-list-item:not(:last-child) {
  margin-right: 30px;
}
.person-list-item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person-job {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}
.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding-top: 30px;
  text-align: center;
}
.social-grafic {
  display: flex;
  justify-content: center;
}
.item-social-link {
  fill: #afb1b8;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.site {
  padding-top: 0px;
  font-weight: 700;
  color: #2196f3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.studio {
  color: black;
  font-weight: 700;
}
span {
  color: black;
}
.site, .studio {
  font-style: normal;
  width: 145px;
  height: 31px;
  left: 0px;
  top: 0px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: #fff;
  font-weight: 700;
}
.footer {
  display: flex;
  background-color: #2f303a;
  width: 1600px;
}
.footer-logo {
  padding-top: 50px;
  padding-left: 215px;
  padding-bottom: 0px;
  text-decoration: none;
}

.change-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-top: 56px;
}
.change-list-item:not(:last-child) {
  padding-right: 8px;
}
.change-btn {
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}
.change-btn:hover,
.change-btn:focus {
    background: var(--main-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: #fff;
transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 56px;
  justify-content: center;
  gap: 30px;
}
.portfolio-list-item {
  background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
margin-bottom: 30px;
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list-item-link {
  text-decoration: none;
}
.portfolio-list-name {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
padding-top: 0px;
padding-left: 24px;
}
.ul_h3 {
  color: #212121;
}
.portfolio-list-category {
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--second-color);
padding-top: 4px;
padding-left: 24px;
padding-bottom: 0px;
}
.popup:hover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0%;
  background-color: #2196f3;
  color: #fff;
  line-height: 1.75rem;
  letter-spacing: 0.03rem;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 45px;
  opacity: 0.9;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0s;
}
.category {
  color: var(--second-color);
  font-family: Roboto;
}
.follow-us {
  color: #fff;
}
.section4 {
  width: 1600px;
}
.item-company {
  padding-top: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 13px;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 94px;
  border-radius: 0px 0px 4px 4px;
  border-color: #757575;
}